body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d8dad3 !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 0 40px;
  background-color: #ce2029;
  height: 100px;
  display: flex;
  justify-content: space-between;
  width: auto;
}

header img[alt="ranger-header"] {
  max-height: 90px;
  object-fit: cover;
}

header a,
header p {
  margin: 0;
  padding: 0;
  color: #000;
  font-size: 25px;
}

header p {
  align-self: center;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.lr{
    display: flex;
}

#logout {
    cursor: pointer;
}

.cont{
    margin: 20px;
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}