<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPetKeeper</servlet-name>
        <servlet-class>servlets.GetPetKeeper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPetKeeper</servlet-name>
        <url-pattern>/GetPetKeeper</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DB_Connection</servlet-name>
        <servlet-class>database.DB_Connection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DB_Connection</servlet-name>
        <url-pattern>/DB_Connection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InitDatabase</servlet-name>
        <servlet-class>database.init.InitDatabase</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitDatabase</servlet-name>
        <url-pattern>/InitDatabase</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Resources</servlet-name>
        <servlet-class>database.init.Resources</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Resources</servlet-name>
        <url-pattern>/Resources</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>mainClasses.Booking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Pet</servlet-name>
        <servlet-class>mainClasses.Pet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pet</servlet-name>
        <url-pattern>/Pet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>JSON_Converter</servlet-name>
        <servlet-class>mainClasses.JSON_Converter</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JSON_Converter</servlet-name>
        <url-pattern>/JSON_Converter</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PetOwner</servlet-name>
        <servlet-class>mainClasses.PetOwner</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetOwner</servlet-name>
        <url-pattern>/PetOwner</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PetKeeper</servlet-name>
        <servlet-class>mainClasses.PetKeeper</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PetKeeper</servlet-name>
        <url-pattern>/PetKeeper</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Message</servlet-name>
        <servlet-class>mainClasses.Message</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Message</servlet-name>
        <url-pattern>/Message</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Review</servlet-name>
        <servlet-class>mainClasses.Review</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Review</servlet-name>
        <url-pattern>/Review</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditBookingsTable</servlet-name>
        <servlet-class>database.tables.EditBookingsTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditBookingsTable</servlet-name>
        <url-pattern>/EditBookingsTable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditMessagesTable</servlet-name>
        <servlet-class>database.tables.EditMessagesTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditMessagesTable</servlet-name>
        <url-pattern>/EditMessagesTable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditPetKeepersTable</servlet-name>
        <servlet-class>database.tables.EditPetKeepersTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPetKeepersTable</servlet-name>
        <url-pattern>/EditPetKeepersTable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditPetsTable</servlet-name>
        <servlet-class>database.tables.EditPetsTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPetsTable</servlet-name>
        <url-pattern>/EditPetsTable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditPetOwnersTable</servlet-name>
        <servlet-class>database.tables.EditPetOwnersTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditPetOwnersTable</servlet-name>
        <url-pattern>/EditPetOwnersTable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditReviewsTable</servlet-name>
        <servlet-class>database.tables.EditReviewsTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditReviewsTable</servlet-name>
        <url-pattern>/EditReviewsTable</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GetPetOwner</servlet-name>
        <servlet-class>servlets.GetPetOwner</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetPetOwner</servlet-name>
        <url-pattern>/GetPetOwner</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
